body {
  font-family: Arial, sans-serif;
  background-color: #a7c686;
  color: #090909;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 35px;
  margin-top: 0px;
  background-color: #ffdc00;
  border-radius: 10px;
  border-color: white;
}



.form-group {
  margin-bottom: 20px;
}


.form-group input[type="text"],
.form-group input[type="password"] {
  width: 90%;
  padding: 10px;
  font-size: 13px;
}

.form-group input[type="submit"] {
  width: 40%;
  padding: 10px;
  font-size: 13px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  align-content: center;
  
}


.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 13px;
}


input[type="checkbox"] {
  margin-right: 10px;
}


label {
  font-size: 13px;
}
