@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #0e0d0d;
  text-align: center;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(#ffdd00, white);
  margin-bottom: 50px;
}


h1 {
  font-size: 24px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contenedor-video-grande {
  width: 85%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.contenedor-video-grande h2 {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

.video-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.prev-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2ecc40;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2ecc40;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.video {
  text-align: center;
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  border: 3px solid #2ecc40;
  border-radius: 10px;
  padding: 3px;
}

.video a {
  text-decoration: none;
  color: inherit;
}

.video img {
  width: 100%;
  height: auto;
}

.video h2 {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
  margin-bottom: 20px;
}

.video-list {
  overflow-x: hidden;
}

.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 10px;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* CONTENEDOR DEL MENU DE GENEROS */
.genre-buttons {
  margin-top: 20px;
}

.genre-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #2ecc40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.genre-button:hover {
  background-color: #27ae30;
}


.genre-buttons {
  margin-top: 20px;
  margin-bottom: 20px; 
}

/* CONTENEDOR DE VIDEOS FILTRADOS */
.genre-container {
  margin-top: 20px;
  border: 0px solid #2ecc40;
  border-radius: 10px;
  padding: 20px; 
}

.video-genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 20px;
}



.video-genre .video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; 
}

.video-genre h2 {
  margin-top: 10px;
  margin-bottom: 10px; 
  font-size: 18px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.video2 {
  text-align: center;
  flex: 0 0 auto;
  width: 550px;
  margin: 10px 20px 10px 20px;
  border: 3px solid #2ecc40;
  border-radius: 10px;
  padding: 10px; 
}
