body {
  font-family: Arial, sans-serif;
  background-color: #ffdc00;
  color: #090909;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 10px;
  margin-top: 0px;
}

h1 {
  text-align: center;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 0px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  box-sizing: border-box;
}

.form-group input[type="submit"] {
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
  margin-bottom: 0px;
}
